
*  {
box-sizing: border-box;

}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

h1 , h2, h3,
h4 , h5 , h6 {

    font-family: "Oswald" sans-serif;
}

.header {
    text-align: center;
    background-color: cyan;
    padding: 3rem 1rem;
    position: relative;
    padding-top: 4.5rem;

}

.main {
    padding: 1rem;
    max-width: 60ch;
    margin: 0 auto;
}

.main > * + * {
    margin-top: 3rem ;
}

.nav {
    padding: 0.25rem 0.5rem;
    color: black;
}

.nav:hover {

    color: black;
    background-color: beige;
}

.nav:active {
    color: white;
    background-color: brown;
}

.nav + .nav {
    margin-left: 1rem;
}

.main > * {
      border-top: 0.125rem solid grey;
      padding: 0 1rem;
}

.main > *:first-child {
    border-top:  none;
}

    
*::selection {
    background-color: beige ;
    
}

.beruf::after {
    content: "😀";
}

.experience-heading {
    display: inline-block;
}

.experience-subheading {
    display: inline-block;
}

.heading-article {
    position: relative;
    left: -1rem;
}

.hire-me {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: black;
    padding: 0.5rem;
    background: powderblue;
    border-radius: 0.25rem;

}

.header-gruppe {
    font-size: 4rem;

}

.main-heading {
    font-size: 1em;
}

.beruf{
    font-size: 0.25em;
}