
*  {
box-sizing: border-box;

}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    html {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 992px) {
    html {
      font-size: 20px;
    }
  }

body {
    margin: 0;
    --background-color: snow;
   --text-color: black;
   --accent-color: plum;
   --accent-text-color: black;
   --nav-link-active-bg-color: violet;
   background-color: var(--background-color);
   color: var(--text-color);
}

h1 , h2, h3,
h4 , h5 , h6 {

    font-family: "Oswald" sans-serif;
}

*::selection {
  background-color: var(--accent-color) ;
  
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: var(--text-color);
}

.header {
  text-align: center;
  padding: 3rem 1rem;
  position: relative;
  padding-top: 4.5rem;
  background-image: linear-gradient(235deg,
    var(--background-color),
    var(--accent-color)
  );
  color: var(--accent-text-color);

}

.header-gruppe {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.beruf{
  font-size: 0.25em;
}

.beruf::after {
  content: "😀";
}

.hire-me {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: var(--accent-color);

}

@media screen and (min-width: 992px) {
    .hire-me {
      position: fixed;
    }
  }
  
  @media print {
    .hire-me {
      display: none;
    }
  
    .navigation {
      display: none;
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .navigation {
      flex-direction: row;
      justify-content: center;
    }
  }

  .nav {
    padding: 0.25rem 0.5rem;
    color: var(--accent-text-color);
}

.nav:hover {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.nav:active {
  background-color: var(--nav-link-active-bg-color);
  color: var(--accent-text-color);
}

.nav-link:visited {
  color: var(--accent-text-color);
}
}

@media screen and (min-width: 768px) {
  .nav + .nav {
    margin-left: 1rem;
  }
}

.main {
  padding: 1rem;
  max-width: 60ch;
  margin: 0 auto;
}

.main > * + * {
  margin-top: 3rem ;
}


@media screen and (min-width: 768px) {
    .main > * + * {
      margin-top: 5rem;
    }
  }

  .main > * {
    border-top: 0.125rem solid var(--accent-color);
    padding: 0 1rem;
}


.main > *:first-child {
    border-top:  none;
}


.heading-article {
    position: relative;
    left: -1rem;
}


.experience-header {
   display: flex;
   flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer {
  margin-top: 3rem;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: 2rem;
}

.footer-text {
  text-align: center;
  margin: 0;
}

.footer-link,
.footer-link:link,
.footer-link:hover,
.footer-link:active,
.footer-link:visited {
  color: var(--accent-text-color);
}